.bg-container {
  background-image: url("https://images.unsplash.com/uploads/1413222992504f1b734a6/1928e537?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
  background-size: cover;
  width: 100%;
  height: 100vh;
  border: 1px solid;
  box-sizing: border-box;
}
